:root {
  --primary-color: rgb(243, 118, 72);
  --primary-color-shadow: rgba(243, 118, 72, 0.205);
  --secondary-color: white;
  --border--shadow: rgba(128, 128, 128, 0.329)
  --border--color: rgba(128, 128, 128, 0.411);
  --box-shadow: rgba(78, 77, 77, 0.247)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

html {
  background-color: var(--secondary-color);
}
a {
  text-decoration: none;
  color: var(--primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px var(--primary-color-shadow);
  height: 100px;
}

.logo-container {
  background-color: var(--secondary-color);
}

.logo {
  display: inline-block;
  width: 130px;
  height: 90px;
  mix-blend-mode: multiply;
  margin: 0 20px;
  /* height: 100px; */
}

.nav-items {
  padding: 0 20px;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  list-style: none;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.login {
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 20px;
  /* width: 110px; */
  align-content: center;
  margin: 10px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}

.login:active {
  transform: scale(0.9);
}

.login:hover {
  display: inline-block;
  background-color: white;
  color: rgb(243, 118, 72);
  border: 1px solid rgb(243, 118, 72);
}

.body {
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.search {
  padding: 10px;
  color: var(--primary-color);
  font-weight: 500;
}

.search-input {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid rgba(185, 182, 182, 0.479);
  font-weight: 300;
  caret-color: rgba(80, 78, 78, 0.664);
}

.search-input::placeholder {
  font-weight: 200;
}

.search-input:focus {
  outline: none;
}

.search-btn {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  outline: none;
  transition: all 0.2s ease-in-out;
}

.search-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.search-btn:active {
  transform: scale(0.9);
}

.filter {
  align-self: flex-start;
  margin-left: 15px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
}

.filter-btn {
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 8px;
  outline: none;
  border: 0.5px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.filter-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.filter-btn:active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transform: scale(0.9);
}

.filter-btn-selected {
  background-color: var(--primary-color);
  color: white;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.shimmer-card {
  width: 260px;
  height: 370px;
  border-radius: 20px;
  margin-top: 50px;
  background-color: #f0f0f0;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.res-card {
  width: 270px;
  height: 370px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(119, 118, 118, 0.425);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.res-card:hover {
  transform: scale(0.97);
  /* box-shadow: 0 0 6px rgba(17, 17, 17, 0.507); */
}
.res-card-details {
  padding: 0 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 14px;
  font-weight: normal;
  flex: 1;
}

.res-card-name {
  height: 30px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}

.res-card-cuisines {
  font-weight: normal;
  font-size: 14px;
}

.res-card-rating {
  display: flex;
  column-gap: 5px;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
}

.res-card-price {
  font-size: medium;
  font-weight: normal;
}

.res-img {
  width: 100%;
  height: 200px;
}

.res-detail {
  width: 800px;
  margin: 50px auto;
}

.res-detail-name {
  font-size: 22px;
  padding: 5px;
  font-weight: bolder;
}

.res-detail-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  border: 1px solid rgba(128, 128, 128, 0.411);
  box-shadow: 0 8px 16px rgba(128, 128, 128, 0.329);
  border-radius: 8px;
  margin: 20px 0;
}
.res-detail-rating-price {
  display: flex;
  align-items: center;
  gap: 5px;
}

.res-detail-rating {
  font-weight: bolder;
}

.res-detail-price {
  font-weight: bolder;
}

.res-detail-cuisine {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
}

.res-detail-outlet {
  display: flex;
  gap: 7px;
  font-size: 13px;
}

.res-detail-menu {
  width: 100%;
  margin-top: 50px;
}

.res-detail-menu-list {
  list-style: none;
  padding: 5px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.res-detail-menu-card {
  display: flex;
  width: 90%;
  justify-content: space-between;
  border-bottom: 1px solid var(--box-shadow);
  padding-bottom: 20px;
}

.res-detail-menu-details{
  padding: 40px;
  /* font-size: 20px; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 450px;
}

.res-detail-menu-details > h5 {
  margin-bottom: 20px;
}

.res-detail-menu-details > p {
  font-size: 14px;
}

.res-detail-menu-img{
  border-radius: 16px;
  overflow: hidden;
  height: 200px;
  /* width: 400px; */
}
.res-detail-menu-img > img {
  width: 300px;
  height: 100%;
}

.about {
  width: 1000px;
  margin: 50px auto;
}

.user-card {
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(78, 77, 77, 0.247) ;
  padding: 20px;  
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.user-card > h4{
  cursor: pointer;
}

.about-card-container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.user-card-view{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  }

  .user-card-flagged{
    cursor: pointer;
    color: red;
  }